@import url("https://fonts.googleapis.com/css2?family=Inter&family=Libre+Baskerville&family=Lora:wght@600&family=Poppins&display=swap");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: white;
    color: #333;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;


}

body::-webkit-scrollbar {
    display: none;
}

/* Header Styles */
header {
    background-color: #fff;
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 24px;
}

/* Navigation bar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    /* Set width to 100% of viewport width */
}

.logo {
    flex: 1;
    /* Logo aligned to the left */
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    /* Align items to the right */
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: #393737;
    font-weight: bold;

}

.carousel-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    height: 250px;
    margin: 10px 20px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-image: url(assets/Rectangle\ 20.png);
    background-size: cover;
    background-position: center center;

}

.carousel-text {
    color: white;
}

.carousel-text h3 {
    color: #dc582a;
}

.carousel-text h1 {
    font-size: 40px;
    width: 400px;
}

.carousel-text p {
    font-size: 24px;
    width: 400px;
}


/* Search bar styles */
.search {
    /* width: 250px; */
    margin: 20px 20px;
    text-align: start;
}

.search h2 {
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.type-filter>button:first-child {
    background-color: orange;
    padding: 25px 80px;
}

.type-filter>button:nth-child(2) {
    background-color: #c4d600;
    padding: 25px 80px;

}

.type-filter>button:nth-child(3) {
    background-color: #dc582a;
    padding: 25px 80px;
}

.filter-container button {
    color: #fff;
    border: none;
    border-radius: 5px;
    /* padding: 10px 20px; */
    margin: 10px 10px;
    cursor: pointer;
    font-size: 16px;
}

/* Sidebar styles */
.main-content {
    display: flex;

}

#sidebar {
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    margin: 20px auto;
    flex: 1;
}

#sidebar h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

#sidebar label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

/* Recipe card styles */
.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

#recipeContainer {
    display: flex;
    flex-wrap: wrap;
    flex: 4;
}

.recipe-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 250px;
    /* width: calc(33.33% - 20px); */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in;
}

.recipe-card:hover {
    transform: scale(1.1);
}

.recipe-card h2 {
    font-size: 15px;
}

.recipe-info p {
    font-size: 14px;
    margin: 5px 0;
}


.recipe-image {
    width: 250px;
    height: 200px;
    border-radius: 10px;
}

.name-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time-info p {
    color: orange;
}

.like-button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 0;
    margin-top: 10px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    margin: 30px auto;
    max-width: 1200px;
}

footer li {
    margin: 30px;
    list-style-type: none;
}

.li2,
.li3 {
    font-weight: bolder;
}

.footer>div {
    max-width: 300px;
}

.footer-icons {
    display: flex;
    flex-direction: column;
}

#social {
    margin: 20px 10px;
    text-align: center;
}

.smGlobalBtn {
    cursor: pointer;
    width: 50px;
    height: 50px;
    box-shadow: 0 3px 3px #999;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    line-height: 2em;
    border-radius: 27px;
}

#social {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 50px;
    align-items: center;
}

/* facebook button class*/
.facebookBtn,
.twitterBtn,
.linkedinBtn,
.pinterestBtn,
.tumblrBtn {
    background: #2a3342;
}

.facebookBtn:before {
    /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a";
    /* add facebook icon */
}

.facebookBtn:hover,
.twitterBtn:hover,
.googleplusBtn:hover,
.linkedinBtn:hover,
.pinterestBtn:hover,
.tumblrBtn:hover {
    color: #2a3342;
    background: #fff;
    border-color: #2a3342;
    /* change the border color on mouse hover */
}

/* twitter button class*/
.twitterBtn:before {
    font-family: "FontAwesome";
    content: "\f099";
    /* add twitter icon */
}


.googleplusBtn:before {
    font-family: "FontAwesome";
    content: "\f0d5";
    /* add googleplus icon */
}

.linkedinBtn:before {
    font-family: "FontAwesome";
    content: "\f0e1";
    /* add linkedin icon */
}

.pinterestBtn:before {
    font-family: "FontAwesome";
    content: "\f0d2";
    /* add pinterest icon */
}

.tumblrBtn:before {
    font-family: "FontAwesome";
    content: "\f173";
    /* add tumblr icon */
}
.menu__icon {
    display: none;
}


@media (max-width: 767px) {
    .main-content {
        display: block;
    }
    .menu__icon{
        display: block;
    }
    .nav-link, .profile{
        display: none;
    }

    #sidebar {
        background-color: #fff;
        box-shadow: none;
        width: 100%;
        margin: 20px auto;
    }

    .type-filter button {
        display: block;
        margin-bottom: 10px;
        width: 100%;
    }
    
}

@media (max-width: 576px) {
    .footer div {
        flex: 1 2 100%;
        max-width: 100%;
    }
    #recipeContainer{
        display: flex;
        flex-direction: column;
        width: 95%;
    }

    .recipe-card {
        flex-direction: column;
        width: 95%;
    }

    .recipe-image {
        width: 100%;
        height: 250px;
    }
    .carousel-text p {
        font-size: 15px;
        width: 200px;
    }
    .carousel-text h1{
        font-size: 24px;
        width: 200px;
    }

    .div-1{
        display: none;
    }
    
}








